<table>
  <tbody>
    <tr>
      <p>
        Thank you for your order with A<sup>2</sup> Accessories. Your order details are:
      </p>
    </tr>
    <tr>
      <p><%= @product.name %></p><br>
    </tr>
    <tr>
      <p>Price: <b>$<%= @product.price * 100 %></b></p><br>
    </tr>
  </tbody>
</table>