<!DOCTYPE html>
<html>
  <head>
    <title>Commercesite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<nav>
		  <ul>
		    <li>Home</li>
		    <li>About</li>
		    <li>Contact</li>
		  </ul>
		</nav>
    <%= yield %>
    <footer>
		  &copy; 2017 DermaStore Spain
		</footer>
  </body>
</html>
